
html{
  background: url(jungle4.gif);
  background-size: cover;
  background-repeat: no-repeat;
  font-family: helvetica;
  font-size: 24px;
  font-weight: bold;
}
#logo img{
position: relative;
width: 300px;
}
#opacity {
  filter: opacity(100%);
}
#box{
  width: 1000px;
  height: 600px;
  background-color: #FFFFFFAA ;
  margin: 20px;
  position:relative;
  left: 100px;
  padding: 10px;
  border-radius: 20px;
border: 10px groove black;
box-shadow: #000000ab 5px;
}
.circle{
  width: 150px;
  height:150px;
  background-color: white;
  border-radius: 50%;
  border: 10px #29ab87 groove;
  position: relative;
  filter: opacity(100%);
  padding: 1px;
  box-shadow: 5px 5px 1px 1px #00000066;
}
#bigCircle{
  height: 500px;
  width: 500px;
  border-radius: 50%;
  background-color: red;
  position:absolute;
  top: 250px;
  background-image: linear-gradient(#29ab87aa, #3b6064aa, #364958aa);


  left: 400px;
  border: 10px #29ab87 groove;
}
#one{
  left: 140px;
  opacity: 1;
  animation: circleAround 4s;
}
#two{
  left: 60px;
  top: 45px;
  opacity: 1;
  animation: circleAround 4s;
 }
#three{
  top: 90px;
  left: 105px;
  opacity: 1;
  animation: circleAround 4s;
 }
#four{
  bottom: 510px;
  left: 735px;
  opacity: 1;
  animation: circleAround 4s;
 }
#five{
  bottom:255px;
  left: 735px;
  opacity: 1;
  animation: circleAround 4s;
}
#six{
  bottom: 635px;
  left: 795px;
  opacity: 1;
  animation: circleAround 4s;
}
@keyframes circleAround{
    0% {
      transform: rotate(0deg);
      opacity: 0.1;
    }
    100% {
      transform: rotate(360deg);
      opacity: 1;
    }
  }

.Rectangle{
  background-color: white;
  width: 150px;
  height: 50px;
  border: 4px groove #222222;
  position: relative;
  text-align: center;


}
#Name{
  top: 30px;
  left: 140px;
  width:200px;
}
#Ability{
  top: 215px;
  left: 80px;
  background-color: #55828b;
}
#Health{
  background-color: #3b6064;
  left:250px;
  top: 210px;
}
#Attack{
  background-color: #29ab87;
  left: 250px;
  top: 100px;
}
#Defense{
  top: 95px;
  left: 80px;
  background-color: #364958;
}
#image img{
  width:150px;
  height: 150px;
  position: absolute;
  top: 100px;
  left:165px;
  border: 4px groove white;
}

  .circle img {
    background-color: black;
    border-radius: 50%;
    height: 150px;
    width: 150px;
    object-fit: contain;
  }
  .rt {
    background-color: black;
    border-radius: 50%;
    height: 150px;
    width: 150px;
    object-fit: contain;
  }
  .st {
    background-color: black;
    border-radius: 50%;
    height: 150px;
    width: 150px;
    object-fit: contain;
  }
  #trainer {
    background-color: black;
    border-radius: 50%;
    height: 150px;
    width: 150px;
    object-fit: contain;
  }
  .jt {
    background-color: black;
    border-radius: 50%;
    height: 150px;
    width: 150px;
    object-fit: contain;
  }
