

html{
  background: url(forest4.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
#box{
  width: 1000px;
  height: 600px;
  background-color: white;
  margin: 20px;
  position:relative;
  left: 100px;
  padding: 10px;
  filter: opacity(60%);
  border-radius: 20px;

}
.circle{
  width: 150px;
  height:150px;
  background-color: white;
  border-radius: 50%;
  border: 10px red groove;
  position: relative;
  filter: opacity(100%);
}
#bigCircle{
  height: 500px;
  width: 500px;
  border-radius: 50%;
  background-color: red;
  position:absolute;
  top: 80px;
  left: 400px;
  border: 10px groove black;


}
 #one{
  left: 150px;
}
 #two{
   left: 80px;
 }
 #three{
   top: 30px;
   left: 100px;
 }
 #four{
   bottom: 500px;
   left: 730px;
 }
#five{
  bottom:320px;
  left: 780px;

}
.Rectangle{
  background-color: white;
  width: 150px;
  height: 50px;
  border: 4px groove black;
}
#Ability{
  position: relative;
  top: 300px;
  left: 30px;


}
#Defense{}
#Attack{}
#Name{}
#Health{}
  img {
    background-color: black;
    border-radius: 50%;
    height: 150px;
    width: 150px;
    object-fit: contain;
  }
  .rt {
    background-color: black;
    border-radius: 50%;
    height: 150px;
    width: 150px;
    object-fit: contain;
  }
  .st {
    background-color: black;
    border-radius: 50%;
    height: 150px;
    width: 150px;
    object-fit: contain;
  }
  #trainer {
    background-color: black;
    border-radius: 50%;
    height: 150px;
    width: 150px;
    object-fit: contain;
  }
  .jt {
    background-color: black;
    border-radius: 50%;
    height: 150px;
    width: 150px;
    object-fit: contain;
  =======
