
html{
  background: url(forest4.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
#opacity {
  filter: opacity(100%);
}
#box{
  width: 1000px;
  height: 600px;
  background-color: #FFFFFFAA ;
  margin: 20px;
  position:relative;
  left: 100px;
  padding: 10px;
  border-radius: 20px;
border: 10px groove black;
box-shadow: #000000ab 5px;
}
.circle{
  width: 150px;
  height:150px;
  background-color: white;
  border-radius: 50%;
  border: 10px red groove;
  position: relative;
  filter: opacity(100%);
  padding: 1px;
  box-shadow: 5px 5px 1px 1px #00000066;

}
#bigCircle{
  height: 500px;
  width: 500px;
  border-radius: 50%;
  background-color: red;
  position:absolute;
  top: 80px;
  left: 400px;
  border: 10px groove black;
}



@keyframes circleAround{
      0% { transform: rotate(0deg) translateX(100px)  ;}
      100% {transform: rotate(360deg) translateX(10px) ;}
    }

#one{
  left: 140px;
  opacity: 1;
  animation: circleAround 4s;
}
#two{
  left: 80px;
  top: 45px;
  opacity: 1;
  animation: circleAround 4s;
 }
#three{
  top: 90px;
  left: 140px;
  opacity: 1;
  animation: circleAround 4s;
 }
#four{
  bottom: 500px;
  left: 735px;
  opacity: 1;
  animation: circleAround 4s;
 }
#five{
  bottom:250px;
  left: 735px;
  opacity: 1;
  animation: circleAround 4s;
}
#six{
  bottom: 625px;
  left: 795px;
  opacity: 1;
    animation: circleAround 4s;
}

.Rectangle{
  background-color: white;
  width: 150px;
  height: 50px;
  border: 4px groove black;
  position: relative;


}
#Name{
  top: 30px;
  left: 140px;
  width:200px;
}
#Ability{
  top: 215px;
  left: 80px;
  background-color: orange;
}
#Health{
  background-color: pink;
  left:250px;
  top: 210px;
}
#Attack{
  background-color: purple;
  left: 250px;
  top: 100px;
}
#Defense{
  top: 95px;
  left: 80px;
  background-color: black;
}
#image img{
  width:150px;
  height: 150px;
  position: absolute;
  top: 100px;
  left:165px;
  border: 4px groove white;
}

  img {
    background-color: black;
    border-radius: 50%;
    height: 150px;
    width: 150px;
    object-fit: contain;
  }
  .rt {
    background-color: black;
    border-radius: 50%;
    height: 150px;
    width: 150px;
    object-fit: contain;
  }
  .st {
    background-color: black;
    border-radius: 50%;
    height: 150px;
    width: 150px;
    object-fit: contain;
  }
  #trainer {
    background-color: black;
    border-radius: 50%;
    height: 150px;
    width: 150px;
    object-fit: contain;
  }
  .jt {
    background-color: black;
    border-radius: 50%;
    height: 150px;
    width: 150px;
    object-fit: contain;
  =======
>>>>>>> 1810a81d17540b0a32b857743102052c4420a481
