

html{
  background: url(jungle4.gif);
  background-size: cover;
  background-repeat: no-repeat;
  font-family: helvetica;
  font-size: 12px;
}
#opacity {
  filter: opacity(100%);
}
#box{
  width: 1000px;
  height: 600px;
  background-color: #FFFFFFAA ;
  margin: 20px;
  position:relative;
  left: 100px;
  padding: 10px;
  border-radius: 20px;
border: 10px groove black;
}
.circle{
  width: 150px;
  height:150px;
  background-color: white;
  border-radius: 50%;
  border: 10px #29ab87 groove;
  position: relative;
  filter: opacity(100%);
  padding: 1px;
  box-shadow: 5px 5px 1px 1px #00000066;
}
#bigCircle{
  height: 500px;
  width: 500px;
  border-radius: 50%;
  background-image: linear-gradient(#29ab87, #3b6064, #364958);
  position:absolute;
  top: 80px;
  left: 400px;
  border: 10px #29ab87 groove;
}
#one{
  left: 140px;
  opacity: 1;
}
#two{
  left: 80px;
  top: 45px;
  opacity: 1;
 }
#three{
  top: 90px;
  left: 140px;
  opacity: 1;
 }
#four{
  bottom: 500px;
  left: 735px;
  opacity: 1;
 }
#five{
  bottom:250px;
  left: 735px;
  opacity: 1;
}
#six{
  bottom: 625px;
  left: 795px;
  opacity: 1;
}

.Rectangle{
  background-color: white;
  width: 150px;
  height: 50px;
  border: 4px groove #222222;
  position: relative;

}
#Name{
  top: 50px;
  left: 170px;
}
#Ability{
  top: 215px;
  left: 80px;
  background-color: orange;
}
#Health{
  background-color: pink;
  left:250px;
  top: 210px;
}
#Attack{
  background-color: purple;
  left: 250px;
  top: 100px;
}
#Defense{
  top: 95px;
  left: 80px;
  background-color: black;
}
#image img{
  width:150px;
  height: 150px;
  position: absolute;
  top: 110px;
  left:165px;
  border: 4px groove white;
}

  img {
    background-color: black;
    border-radius: 50%;
    height: 150px;
    width: 150px;
    object-fit: contain;
  }
  .rt {
    background-color: black;
    border-radius: 50%;
    height: 150px;
    width: 150px;
    object-fit: contain;
  }
  .st {
    background-color: black;
    border-radius: 50%;
    height: 150px;
    width: 150px;
    object-fit: contain;
  }
  #trainer {
    background-color: black;
    border-radius: 50%;
    height: 150px;
    width: 150px;
    object-fit: contain;
  }
  .jt {
    background-color: black;
    border-radius: 50%;
    height: 150px;
    width: 150px;
    object-fit: contain;
  =======
