img {
  background-color: black;
  border-radius: 50%;
  height: 150px;
  width: 150px;
  object-fit: contain;
}
.rt {
  background-color: black;
  border-radius: 50%;
  height: 150px;
  width: 150px;
  object-fit: contain;
}
.st {
  background-color: black;
  border-radius: 50%;
  height: 150px;
  width: 150px;
  object-fit: contain;
}
#trainer {
  background-color: black;
  border-radius: 50%;
  height: 150px;
  width: 150px;
  object-fit: contain;
}
.jt {
  background-color: black;
  border-radius: 50%;
  height: 150px;
  width: 150px;
  object-fit: contain;
}
